.contenedor-landing {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        background-image: url('./bg_02_h.png');
        background-size: cover;
        display: flex;
}

.contenedor-landing .tittle {
    margin: 0px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

button {
    font-size: 20px;
}

